*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainmarry{

    width: 100%;
    min-height: 100vh;
    /* El gradiente va primero para que se encime a la imagen */
    background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgb(255, 255, 255)), url(images/fotoboda1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; /* Opcional: para centrar la imagen */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.title-main{
    flex: 0 0 50;
    padding-top: 3rem;
    font-size: 1.8rem;
    text-align: center;
}

.historia{
    color: white;
    font-family: "Imperial Script", cursive;
    font-weight: 100;
}

.footimg{
    padding-bottom: 3rem;
    padding-left: 2rem;
    width: 90%;
    min-height: 25vh;
    display: flex;
    flex-direction: column;
}

.p1{
   font-size: 1.3rem;
   color: #b78f6e;
}

.p2{
    font-family: "Imperial Script", cursive;
    font-size: 3.5rem;
    color: #b78f6e;
}

.gracias{
    width: 80%;
    min-height: 30vh;
    background-color: #d1b59a;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    text-align: center;
}

.graciastitulo{
    flex: 0 0 8vw;
    flex-wrap: wrap;
}

.gracias-texto{
    font-size: 1.5rem;
    color: #f8f1e5;
}

.parent{
    flex: 0 0 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 3vw;
    color: #f8f1e5;
}

.fecha-frase{
    width: 100%;
    min-height: 30dvw;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 5vw;
}

.frase{
    flex: 0 0 50;
    color: #b78f6e;
}

.text-frase{
    font-size: 1.1rem;
}

.falta{
    flex: 0 0 50;
    text-align: right;
}

.falta-titulo{
    font-size: 1.5rem;
    font-weight: 100;
    color: #e6d8c3;
}

.falta-parrafo{
    font-family: "Imperial Script", cursive;
    font-size: 2.5rem;
    color: #d1b59a;
}

#countdown {
    padding-top: 10vw;
    display: flex;
    gap: 20px;
    justify-content: center;
    font-family: 'Segoe UI', sans-serif;
    color: #b78f6e;
}

#countdown div {
    text-align: center;
    font-size: 0.8rem;
    text-transform: uppercase;
}

#countdown span {
    display: block;
    font-size: 2.5rem;
    font-weight: bold;
}

.dia{
    width: 100%;
    min-height: 10dvh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10vw;
    padding-bottom: 5vw;
}

.mes{
    font-size: 4rem;
    color: #d1b59a;
}

.eldia{
    font-size: 6.5rem;
    color: #d1b59a;
}

.year{
    font-size: 5rem;
    color: #d1b59a;
}

.imgboda2{
    margin: 2rem auto 3rem;
    border-radius: 10rem;
    width: 60%;
    height: 60vh;
    background-image: url(images/fotoboda2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.ceremonia{
    width: 85%;
    min-height: 20vh;
    margin: 0 auto;
    background-color: #b78f6e;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 1.5rem;
}

.ceremoniaparte1{
    flex: 0 0 15;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5vw;
}

.titleceremonia{
    font-family: "Imperial Script", cursive;
    font-weight: 100;
    font-size: 3.2rem;
    color: #f8f1e5;
}

.textceremonia{
    font-size: 1.1rem;
    color: white;
}

.imgcruz{
    height: 4rem;
}

.btnceremonia{
    flex: 0 0 1;
    width: 9rem;
    height: 2rem;
    border-radius: 1rem;
    border: none;
    margin: 1rem auto;
}

.enlacetbtn{
    text-decoration: none;
}

.textbtn{
    color: #b78f6e;
    font-size: 1.2rem;
    text-decoration: none;
}

.fiesta{
    width: 85%;
    min-height: 20vh;
    margin: 1rem auto;
    background-color: #f8f1e5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 1.5rem;
}

.fiestaparte1{
    flex: 0 0 20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5vw;
}

.titlefiesta{
    font-family: "Imperial Script", cursive;
    font-weight: 100;
    font-size: 3.2rem;
    color: #d1b59a;
}

.textfiesta{
    font-size: 1.1rem;
    color: #d1b59a;
}

.imgfiesta{
    height: 15vw;
}

.btnfiesta{
    flex: 0 0 1;
    width: 9rem;
    height: 2rem;
    border-radius: 1rem;
    border: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #b78f6e;
}

.enlacetbtn2{
    text-decoration: none;
}

.textbtn2{
    color: #f8f1e5;
    font-size: 1.2rem;
    text-decoration: none;
}

.dress{
    margin: 2rem auto;
}

.msg{
    background-color: #e6d8c3;
    width: 85%;
    min-height: 50vh;
    margin: 0 auto;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem
}

.msgimg{
    height: 12vh;
}

.msg-section1{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.msg-title{
    font-family: "Imperial Script", cursive;
    font-weight: 100;
    font-size: 2.5rem;
    color: white;
}

.msg-text{
    font-size: 1rem;
    color: white;
}

.msg-btn{
    background-color: #d1b59a;
    border: none;
    border-radius: 2rem;
    width: 45vw;
    height: 6.5vh;
    margin-top: 1rem;
}

.msg-btn-text{
    color: #f8f1e5;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
}
